table {
	border-collapse: collapse;	
	width:100%;
}

table, th, td {
	border: 1px solid black;
}

table tr.highlighted{
	background: yellow;	
}

div.panel{
	margin-top:2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b8fdb6;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #66ff99;
}

form label, form input{
	margin-left:1em;
}

form label{
	width:3em;
	display:inline-block
}